<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center"><button class="btn btn-primary" type="button" id="sync_belanja">SYNC BELANJA SPAN</button></div>
    <div class="col-md-4"></div>
</div> 
<script>
    $('#sync_belanja').click(function(event){
        alert('aaaaaa');
        var settings = {
            "url": "https://spanint.kemenkeu.go.id/spanint/data/DataWebService/DipaBelanjaKL/BELANJA/1/10",
            "method": "GET",
            "timeout": 0,
            "headers": {
                      "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c3IiOiJXZWJzZXJ2aWNlIEFUUlwvQlBOIiwidWlkIjoiQlBOIiwicm9sIjoid2Vic2VydmljZSIsImtkcyI6IldTVEVTMSIsImtkYiI6IiIsImtkdCI6IjIwMjIiLCJpYXQiOjE2NDA3NTAzMTQsIm5iZiI6MTY0MDc0OTcxNCwia2lkIjoiMzA0MiJ9.8hpvb4wRWVgufBKYeAl_8WrPHPxXgbPFTKh9pR8zLQE",
                      "Cookie": "PHPSESSID=r5fn3lrqd54ocn9kc7n4gd6ke5; cookiesession1=00E3B805TAOHCPUIMJEQ8I1XDTDO3661"
             },
         };

        $.ajax(settings).done(function (response) {
          var jml = 0;
          var data = JSON.parse(response);
          if (data.length > 0) {
                  $.blockUI({ message: '<div style=\"padding:10px\"><b>Reset Data... </b><p>harap tunggu</p></div>' });
              $.ajax({
                  url: '@Url.Action("ResetSpanBelanja", "Administrasi")',
                  success: function (res) {
                      $.unblockUI();
                  }
              });
              for (var i = 0; i < data.length; i++) {
                  $.ajax({
                      url: '@Url.Action("CreateRenaksiBelanja", "Administrasi")',
                      type: 'POST',
                      dataType: 'json',
                      data: { KDSATKER: data[i].KDSATKER, KPPN: data[i].KPPN, BA: data[i].BA, BAES1: data[i].BAES1, AKUN: data[i].AKUN, PROGRAM: data[i].PROGRAM, KEGIATAN: data[i].KEGIATAN, OUTPUT: data[i].OUTPUT, KEWENANGAN: data[i].KEWENANGAN, SUMBER_DANA: data[i].SUMBER_DANA, CARA_TARIK: data[i].CARA_TARIK, LOKASI: data[i].LOKASI, BUDGET_TYPE: data[i].BUDGET_TYPE, AMOUNT: data[i].AMOUNT },
                      //data: { KDSATKER: 1, KPPN: 2, BA: 3, BAES1: 4, AKUN: 5, PROGRAM: 6, KEGIATAN: 7, OUTPUT: 8, KEWENANGAN: 9, SUMBER_DANA: 10, CARA_TARIK: 11, LOKASI: 12, BUDGET_TYPE: 13, AMOUNT: 14 },
                      success: function (res) {
                          //console.log(res);
                      }
                  }).done(function () {
                      console.log("success");
                  })
                .fail(function () {
                    console.log("error");
                })
                .always(function () {
                    console.log("complete");
                });
              }
          }
          //for (var i = 0; i < data.length; i++) {
              //$.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang Input Data... </b><p>harap tunggu</p></div>' });
              @*$.ajax({
                  url: '@Url.Action("CreateRenaksiBelanja", "Administrasi")',
                  type: 'default GET (Other values: POST)',
                  dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
                  //data: { KDSATKER: data[i].KDSATKER, KPPN: data[i].KPPN, BA: data[i].BA, BAES1: data[i].BAES1, AKUN: data[i].AKUN, PROGRAM: data[i].PROGRAM, KEGIATAN: data[i].KEGIATAN, OUTPUT: data[i].OUTPUT, KEWENANGAN: data[i].KEWENANGAN, SUMBER_DANA: data[i].SUMBER_DANA, CARA_TARIK: data[i].CARA_TARIK, LOKASI: data[i].LOKASI, BUDGET_TYPE: data[i].BUDGET_TYPE, AMOUNT: data[i].AMOUNT },
                  data: { KDSATKER: 1, KPPN: 2, BA: 3, BAES1:4, AKUN: 5, PROGRAM: 6, KEGIATAN: 7, OUTPUT:8, KEWENANGAN: 9, SUMBER_DANA: 10, CARA_TARIK: 11, LOKASI: 12, BUDGET_TYPE: 13, AMOUNT: 14 },
                  success: function (res) {
                      console.log(res);
                  }
              });*@

           //}
           console.log(data);
           //return parseFloat(jml);
       });
    });
    function insert_span_belanja() {

    }
</script>
