@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center" style="padding:50px 0">
	<div class="logo">Astaga, saya lupa password</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="forgot-password-form" class="text-left">
			<div class="etc-login-form">
				<p style="text-align:center">Kirim kata sandi yang baru ke alamat email berikut:</p>
			</div>
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="fp_email" class="sr-only">Email address</label>
						<input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="alamat surat elektronik">
					</div>
				</div>
                <button type="submit" class="login-button" style="padding:1px"><img src="~/Images/chevron.png" /></button>
			</div>
			<div class="etc-login-form">
				<p style="text-align:center">Sudah memiliki akun? <a href='@Url.Action("Login","Account")'>login disini</a></p>
                <p style="text-align:center">Jika anda pengguna baru, hubungi administrator</p>
				@*<p>new user? <a href="#">create new account</a></p>*@
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
</body>
</html>
