<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <!--<add key="PreserveLoginUrl" value="true" />-->
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	  
    <!-- Production -->
    <!--<add key="ServiceBaseUrl" value="http://kkptraining.bpn.go.id:84/api/document/" />-->
	  
    <!-- Development -->
    <add key="ServiceBaseUrl" value="http://10.20.21.83:85/api/Document/"/>
    <add key="TahunAnggaran" value="2021"/>
    <add key="ProfileBiroPerencanaan" value="C1010000"/>
    <add key="ProfileBiroKeuangan" value="C1020000"/>
    <add key="NamaSkema" value="pnbp"/>
    <add key="NamaSkemaKKP" value="kkpwebdev"/>
	  
    <!--KeyCloak Config-->
    <add key="Realm" value="internal-realm"/>
    <add key="ClientId" value="dotnet-web"/>
    <add key="ClientSecret" value="2b0106ef-a5e5-4c62-bab6-abab773cc7e6"/>
	<add key="KeycloakUrl" value="http://10.20.59.235:8080/auth"/>
    <add key="LocalKeycloakUrl" value="http://10.20.59.235:8080/auth"/>
	  
	<!--Localhost-->
	<!--<add key="CookieDomain" value="http://localhost:8165/Home/Index"/>-->
	<!--<add key="RedirectUri" value="http://localhost:8165/Home/Index"/>-->
    <!--<add key="CookieDomain" value="http://localhost:8165/"/>
    <add key="RedirectUri" value="http://localhost:8165/"/>-->
	
	<!--Deploy-->
	<add key="CookieName" value="atrbpn"/>
	<!--<add key="RedirectUri" value="http://10.20.22.90:44121/"/>
	<add key="CookieDomain" value="http://10.20.22.90:44121/"/>-->
	<add key="RedirectUri" value="https://belajar-lama.atrbpn.go.id/E-PNBP-v/"/>
	<add key="CookieDomain" value="https://belajar-lama.atrbpn.go.id/E-PNBP-v/"/>
	<add key="env" value="Development"/>
	<add key="ExcelNameMonitoring" value="Monitoring_"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
	<customErrors mode="Off"/>
    <machineKey validationKey="3F0FB930D34EC9727EB142C916D2721BE8597C6A4BA78F4B3832821B018AA639D03DE04578AA35424B848C46BBF3AA0BACA88EC9C6255AB259DAE82AF9DD9A37" decryptionKey="BE625B00889637F1F92D5A84E430950D3CC720C76134E2EC" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2"/>
    <globalization uiCulture="id" culture="id-ID"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="1048576"/>
    <membership defaultProvider="OracleMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider" type="Pnbp.OracleMembershipProvider" connectionStringName="KkpWebConnString" applicationName="KKPWeb" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="4" minRequiredPasswordLength="1" passwordAttemptWindow="8" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <!--<roleManager enabled="true" defaultProvider="OracleRoleProvider" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="OracleRoleProvider" type="Pnbp.OracleRoleProvider" connectionStringName="KkpWebConnString" applicationName="KKPWeb" />
      </providers>
    </roleManager>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Index" timeout="2880" name=".pnbp" />
    </authentication>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
    </staticContent>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="exadata1" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=xbpn-scan.bpn.go.id)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=kkpdb))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <connectionStrings>
    <!--<add name="KkpWebConnString" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=pnbp;Password=pnbp;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.22.29)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = kkpdb)));" />-->
    <!-- Production -->
    <!--<add name="KkpWebConnString" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=pnbp;Password=pnbp;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.22.29)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = kkpdb)));" />-->
    <!-- Development -->
    <add name="KkpWebConnString" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=pnbp;Password=pnbp;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.22.90)(PORT=11521))(CONNECT_DATA=(SERVICE_NAME = dbtraining)));"/>
  </connectionStrings>
</configuration>