<div class="modal-header" style="text-align:left;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class='fa fa-times'></i> </button>
    <h2 class="modal-title" id="myModalLabel">Lihat Dokumen</h2>
</div>

<div class="x_panel" style="border:0px;">
    <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12" id="docViewer" style="min-height:1px;"></div>
    </div>
</div>

<script src='@Url.Content("~/resources/js/pdfobject.min.js")'></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.unblockUI();

        //console.log(PDFObject);

        if ($("#docViewer").height() < 500) $("#docViewer").height(500);
        PDFObject.embed(objpdf, $("#docViewer"), { forcePDFJS: true, PDFJS_URL: '@Url.Content("~/Contents/pdfviewer.html")' });
    });
</script>