@model Pnbp.Entities.FindManfaat

<script src='@Url.Content("~/resources/js/infiniteScroll.js")'></script>

<div class="" id="dynamic_content">
    <div class="page-title">
        <div class="title_left"><h2 style="width:100%">Daftar Pemanfaatan Per Satuan Kerja</h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix" style="padding-bottom:15px"></div>
</div>

<div id='myModalDocViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

<script type="text/javascript">
    $(function () {
        $("div#loading").hide();
    });

    $(document).ready(function () {
        function showsatker() {
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            $.pjax({
                container: "#dynamic_content",
                type: 'POST',
                url: '@Url.Action("DataManfaatDetailKRO", "Pemanfaatan")',
                success: function (data, textStatus, XMLHttpRequest) {
                    $('#right_col').html(data);
                    $.unblockUI();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.unblockUI();
                }
            });
        };

        showsatker();
    });
</script>

