
@{
    ViewBag.Title = "DetailRincianAlokasi";
}


@{
    ViewBag.Title = "RincianAlokasi";
}

<div class="" id="dynamic_content">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="padding-top:10px; border:1px solid #E6E9ED;">
                @*<div class="x_title">
                    <h2>Pencarian Data</h2>
                    <div class="clearfix"></div>
                </div>*@
                <div class="x_content">
                    <table id="myTablePengembalianPnbp" class="table table-striped table-bordered" style="width:100%; background-color:white;margin-top:50px;margin-bottom:50px;">
                        <thead>
                            <tr class="bg-primary">
                                <th style="text-align:center;">Aktif</th>
                                <th>Output</th>
                                <th>Nama Output</th>
                                <th>Tipe</th>
                                <th>Pagu</th>
                                <th>Alokasi</th>
                                <th>Persentasi Alokasi(%)</th>
                                <th>Realisasi Belanja</th>
                                <th>Persentase Belanja(%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>5527.970</td>
                                <td>Layanan Dukungan Manajeman Satker</td>
                                <td>NON OPS</td>
                                <td>335,500,000</td>
                                <td>35,000,000</td>
                                <td>10,43</td>
                                <td>25,000,000</td>
                                <td>71,43</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>5527.994</td>
                                <td>Layanan Perkantoran</td>
                                <td>NON OPS</td>
                                <td>335,500,000</td>
                                <td>35,000,000</td>
                                <td>10,43</td>
                                <td>25,000,000</td>
                                <td>71,43</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>5527.004</td>
                                <td>Layanan Pertanahan Bidang Infrastruktur Keagrariaan</td>
                                <td>OPS</td>
                                <td>335,500,000</td>
                                <td>35,000,000</td>
                                <td>10,43</td>
                                <td>25,000,000</td>
                                <td>71,43</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    @*<div class="">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">
                            <button id="btnCari" type="submit" form="frmCariPengajuan" class="btn btn-success">&nbsp;Cari&nbsp;</button>

                            <button id="btnCreate" type="reset" class="btn btn-warning">Reset</button>

                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

