@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terjadi Kesalahan</title>
    <!-- Bootstrap -->
    <link href='@Url.Content("~/resources/css/bootstrap.min.css")' rel="stylesheet">
    <!-- Font Awesome -->
    <link href='@Url.Content("~/resources/css/font-awesome.min.css")' rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href='@Url.Content("~/resources/css/custom.min.css")' rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">500</h1>
                        <h2>Terjadi Kesalahan</h2>
                        <p>
                            Kami melacak kesalahan ini secara otomatis, tetapi jika masalah tetap ada jangan ragu untuk menghubungi kami. Sementara itu, cobalah refresh halaman.
                        </p>
                        @*<div class="mid_center">
                                <div class="col-xs-12 form-group pull-right top_search">
                                    <button class="btn btn-default" onclick="history.back(-1)"><i class=" fa fa-arrow-left"></i> Kembali </button>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
</body>
</html>