@{
    ViewBag.Title = "PengajuanPengembalianForm";
}
<form class="form-horizontal" method="post" enctype="multipart/form-data" id="pengembalian_form">
    <div class="" id="dynamic_content">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="padding-top:10px; border:1px solid #E6E9ED;">
                    @*<div class="x_title">
                            <h2>Pencarian Data</h2>
                            <div class="clearfix"></div>
                        </div>*@

                    <input type="hidden" name="Status" id="Stataus" />
                    <div class="row">
                        <div class="col-md-4">

                            <div class="panel panel-default">
                                <div class="panel-heading">Data Berkas</div>
                                <div class="panel-body form-horizontal">
                                    @* form *@
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">nomor Berkas</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="nomorBerkas" name="NomorBerkas" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Atas Nama</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="AtasNama" name="AtasNama" placeholder="Atas Nama">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Alamat</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="Alamat" name="Alamat" placeholder="Alamat">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">NPWP</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="NPWP" name="NPWP" placeholder="NPWP">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Kode Biling</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="KodeBiling" name="KodeBiling" placeholder="Kode Biling">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">NTPN</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="NTPN" name="NTPN" placeholder="NTPN">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button type="button" id="simpan" class="btn btn-primary">Simpan</button>
                                            <button type="reset" class="btn btn-primary">Hapus</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12"><a href="#" class="btn btn-primary">Surat Permohonan</a></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12"><a href="#" class="btn btn-primary">Surat Keterangan</a></div>
                                    </div>
                                    @* end form 1 *@
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="panel panel-default">
                                <div class="panel-heading">Data Pengembalian</div>
                                <div class="panel-body form-horizontal">
                                    @*Panel content*@
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Setoran PNBP</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="SetoranPnbp" placeholder="Setoran PNBP">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">jumlah Biaya Layanan Yang Sudah Dikeluarkan</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="BiayaLayanan" name="BiayaLayanan" placeholder="Biaya Layanan" onkeypress="return hanyaAngka(event)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Permohonan Pengembalian</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="PermohonanPengembalian" name="PermohonanPengembalian" placeholder="Permohonan Pengembalian">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Nama Rekening</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="NamaRekening" name="NamaRekening" placeholder="Nama Rekening">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Nomor Rekening</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="NomorRekening" name="NomorRekening" placeholder="Nomor Rekening">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">NPWP</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="NPWP" name="NPWP" placeholder="NPWP">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-4 control-label">Nama Bank</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="NamaBank" name="NamaBank" placeholder="Nama Bank">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="panel panel-default">
                                <div class="panel-heading">Kirim Permohonan</div>
                                <div class="panel-body">
                                    @*Panel content*@
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Surat Permohonan</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="SuratPermohhonan" name="SuratPermohonan" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Surat Keterangan</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="SuratKeterangan" name="SuratKeterangan" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Bukti Penerimaan Negara</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="BuktiPenerimaan" name="BuktiPenerimaan" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Surat Perintah Setor</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="SuratPerintah" name="SuratPerintah" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Surat Bukti Setor</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="BuktiSetor" name="BuktiSetor" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Bukti Kepemilikan Rek.Tujuan</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="BuktiRek" name="BuktiRek" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">NPWP</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="NpwpFile" name="NpwpFile" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Bukti Domisili Pemohon</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="BuktiDomisili" name="BuktiDomisili" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-4 control-label">Surat Kuasa Bermaterai</label>
                                        <div class="col-sm-8">
                                            <input type="file" class="form-control" id="SuratKuasa" name="SuratKuasa" placeholder="Nomor Berkas">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">

                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary" id="proses">Kirim Berkas</button>
                                        </div>
                                    </div>
                                        @*
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary">Kembalikan</button>
    </div>

    <div class="col-sm-4">
        <button type="button" class="btn btn-primary">Selesai</button>
    </div>
    </div>*@

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    function hanyaAngka(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))

            return false;
        return true;
    }

    $('#simpan').click(function (e) {
        $('#Status').val('1');
        $.ajax({
            url: '@Url.Action("PengajuanPengembalianForm", "Pengembalian")',
            type: 'post',
            data: $('#pengembalian_form').serialize(),
            success: function (res) {
                console.log(res);
            }
        });
    });
</script>